geopandas
folium==0.19.5
shapely
pyproj
pandas==2.2.3
numpy==2.2.3
duckdb==1.2.1
requests==2.32.3
scikit-learn==1.6.1
streamlit==1.44.1
streamlit-folium==0.24.0
plotly==6.0.1
matplotlib==3.10.1
python-dotenv==1.1.0
tqdm==4.67.1
pyogrio
